.article h2 {
	font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}
.article h3{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.article h4{
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

.article h5 {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}

.article h6 {
    text-decoration: underline;
}

.article strong {
    font-weight: bold;
}

.article pre {
    padding: 1rem; 
    border-radius: 0.5rem; 
}
